{% extends 'Login_Base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/Student_Password_Forget1.css">
{% endblock %}

{% block content %}
<h1 class="studentpasswordforget">Password Forget</h1>
<form method="POST">
  {% csrf_token %}
  <label class="studentpasswordforgetlable" for="StudentID">Student ID:</label>
  <input class="studentpasswordforgetinput" type="number" id="StudentID" name="StudentID" required><br>
  <label class="studentpasswordforgetlable" for="Email">Email:</label>
  <input class="studentpasswordforgetinput" type="Email" id="Email" name="Email" required><br>
  <div class="buttoncontainer">
    <button type="submit">Forget Password</button>
  </div>
</form>

<div class="studentpasswordforgetmessages">
  {% if messages %}

  {% for message in messages %}
  <h3>{{ message }}</h3>
  {% endfor %}

  {% endif %}
</div>

{% endblock %}