{% extends 'Login_Base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/Student_Password_Forget_New.css">
{% endblock %}

{% block content %}
<h1 class="studentpasswordforgetnew">Password Forget</h1>
<form method="POST">
  {% csrf_token %}
  <label class="studentpasswordforgetnewlable" for="Password">Password:</label>
  <input class="studentpasswordforgetnewinput" type="Password" id="Password" name="Password" required><br>
  <div class="buttoncontainer">
    <button type="submit">Forget Password</button>
  </div>
</form>

<div class="studentpasswordforgetnewmessages">
  {% if messages %}

  {% for message in messages %}
  <h3>{{ message }}</h3>
  {% endfor %}

  {% endif %}
</div>

{% endblock %}