{% extends 'Student_Home_Base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/Student_Home_Profile_Password_Change1.css">
{% endblock %}

{% block title %}Profile Page{% endblock %}

{% block content %}
<div class="profilecontainer">
    <h1 class="studentprofile">Welcome, {{ student.Student_Name }}!</h1>
    <div class="profilephotocontainer">
        <h2 class="studentprofilelable" id="studentprofilephotolable">Profile Photo:</h2>
        <div class="studentprofilephotoimg">
            {% if student.Profile_Photo %}
            <img src="{{ student.Profile_Photo.url }}" alt="Profile Photo" width="200">
            {% else %}
            <p>No profile photo available.</p>
            {% endif %}
        </div>
    </div>
    <p><strong class="studentprofilelable">Student ID:</strong>
    <div class="studentdata">{{ student.StudentID }}</div>
    </p>
</div>
<div class="profilecontainer1">
    <form method="POST">
        {% csrf_token %}
        <label class="studentprofiledepatmentandsemname" for="Old_Password">Old Password:</label>
        <input class="studentloginforminput" type="password" id="Old_Password" name="Old_Password" required><br>
        <label class="studentloginformlable" for="New_Password">Password:</label>
        <input class="studentloginforminput" type="password" id="New_Password" name="New_Password" required><br>
        <div class="profilecontainerbutton">
            <button type="submit">Password Change</button>
            <a href="{% url 'Student_Home_Profile' %}">Back</a>
        </div>
    </form>
</div>
{% endblock %}