{% extends 'Login_Base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/Teacher_Login1.css">
{% endblock %}

{% block title %}Teacher Login{% endblock %}

{% block content %}
<h1 class="teacherlogin">Teacher Login</h1>
<form method="POST">
    {% csrf_token %}
    <label class="teacherloginformlable" for="TeacherID">User ID:</label>
    <input class="teacherloginforminput" type="number" id="TeacherID" name="TeacherID" required><br>
    <label class="teacherloginformlable" for="CollageCode">Collage Code:</label>
    <input class="teacherloginforminput" type="number" id="CollageCode" name="CollageCode" required><br>
    <label class="teacherloginformlable" for="Password">Password:</label>
    <input class="teacherloginforminput" type="password" id="Password" name="Password" required><br>
    <div class="buttoncontainer">
        <button type="submit">Login</button>
    </div>
</form>
<div class="teacherloginformmessages">
    {% if messages %}

    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}

    {% endif %}
</div>

{% endblock %}